<header class="mt-5 mb-5">
  <H2>Carrinho</H2>
</header>
<div class="">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Promoção</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td scope="row">{{item.product.name}}</td>
        <td>{{item.quantity}}</td>
        <td>R$ {{item.productPrice |  number : '1.2-2'}}</td>
        <td>{{getSaleType(item.product)}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="removeItem(item)">Remover</button>
        </td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Total</th>
        <th>R${{getTotalPrice() |  number : '1.2-2'}}</th>
      </tr>
    </tbody>
  </table>
</div>